.container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.table{
    margin-right: 40px;
    background-color:  rgb(247, 247, 247);
    width: 1320px;
}
.inforData {
    text-align: left;
}
.inforData p{
    font-size: larger;
    color: gray;
    font-style: italic;
}
.product {
    background-color: white;
}